 
 .emagrecimento {
 
 width: 100%;
    height: 100vh;
    padding: 0 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0)),
        url(../images/Fundo\ Pagina\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.objetivo {
    width: 80%;
    min-height: 100vh;
    margin: 20px auto;
    padding: 80px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.objetivo-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 6vmin;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #0da843;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container-emagrecimento {
    width: 50%;
    height: 50vh;
    padding: 0 0px;
    background-color: rgba(239, 243, 240, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}



 